<footer class="footer">
    <div>
    {% if meta.contact.email %}
        <p>Made with ❤️ by <a href="mailto:{{ meta.contact.email }}">{{ meta.contact.email }}</a></p>
    {% endif %}
    {% if meta.contact.corona %}
        <p><a href="{{ meta.contact.corona }}">Corona Updates</a></p>
    {% endif %}
    </div>
    <div>
        <p>Laatste wijziging: {{ build.timestamp | dateToFormat("dd LLLL yyyy, t") }}</p>
    </div>
</footer>
