:root {
    --brand-color: {% if meta.primaryColor %}{{ meta.primaryColor }}{% else %}#fff021{% endif %};
    --secondary: #fff021;
    --spacing: 1em;
    --font-size: 2rem;
}
@media screen and (min-width: 40em) {
    :root {
        --spacing: 2em;
        --font-size: 1.8rem;
    }
}
